.flip-box-a,
.flip-box-b,
.flip-box-b-top,
.flip-box-b-left,
.flip-box-b-right,
.flip-input-a,
.flip-input-b-top {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
}

/* Signup & Login forms */

.flip-box {
  background-color: transparent;
  perspective: 1000px;
  width: 25rem;
  height: 32rem;
  position: relative;
}

.flip-box.flip .flip-box-inner {
  transform: rotateY(180deg);
}

/* Decks & Cards */

.flip-box-deck {
  background-color: transparent;
  perspective: 1000px;
  width: 15rem;
  height: 15rem;
  position: relative;
}

.flip-box-deck.flip .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-left .flip-box-inner {
  transform: rotateY(-180deg);
}

.flip-right .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-b-top {
  transform: rotateX(180deg);
}

.flip-box-b-left {
  transform: rotateY(-180deg);
}

.flip-box-b-right {
  transform: rotateY(180deg);
}

/* Inputs */

.flip-input-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
}

.flip-input {
  background-color: transparent;
  perspective: 1000px;
  width: 11rem;
  height: 2.5rem;
  position: relative;
}

.flip-input.flip .flip-input-inner {
  transform: rotateX(180deg);
}

.flip-input-b-top {
  transform: rotateX(180deg);
}
