@tailwind base;
@tailwind components;
@tailwind utilities;

#root, html, body {
  height: 100%;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari & Opera */
}