<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>
      @tailwind components;
      @tailwind utilities;
    </style>
  </head>
  <body>
    <table class="table-auto border-collapse w-full max-w-xl mx-auto font-arial text-textPrimary bg-tertiary" role="presentation" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <table class="table-auto bg-primary w-[80%] mx-auto px-10 pt-5 pb-5 shadow-inner-sides" role="presentation" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <table class="mx-auto">
                  <tr>
                    <td>
                      <img src="http://playsnapcard:5050/public/images/card.png" alt="Card logo" class="w-32 ml-[-2rem]"/>
                    </td>
                    <td>
                      <h1 class="text-4xl">Snapcard</h1>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table role="presentation" cellpadding="0" cellspacing="0" class="pt-10">
                  <tr>
                    <td>
                      <table role="presentation" cellpadding="0" cellspacing="0">
                        <tr>
                          <td>
                            Hello <%= username %>,
                          </td>
                        </tr>
                        <tr>
                          <td class="pt-5">
                            Your <%= object %> has been successfully modified.
                          </td>
                        </tr>
                        <tr>
                          <td class="pt-4">
                            You will need it when signing in to access your account.
                          </td>
                        </tr>
                        <tr>
                          <td class="pt-10">
                            We hope to see you soon on Snapcard!
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr >
              <td>
                <table class="mx-auto mt-10 border-collapse" role="presentation" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      2025 - Snapcard
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>