<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
    </style>
  </head>
  <body>
    <table role="presentation" cellpadding="0" cellspacing="0" style="margin-left: auto; margin-right: auto; width: 100%; max-width: 36rem; table-layout: auto; border-collapse: collapse; background-color: rgb(244, 239, 229); font-family: Arial, Helvetica, sans-serif; color: #060606bf">
      <tr>
        <td>
          <table role="presentation" cellpadding="0" cellspacing="0" style="margin-left: auto; margin-right: auto; width: 80%; table-layout: auto; background-color: rgb(155, 196, 188); padding-left: 40px; padding-right: 40px; padding-bottom: 20px; padding-top: 20px; box-shadow: 0 0 #0000, 0 0 #0000, inset 5px 0 3px -3px rgba(0, 0, 0, 0.3), inset -5px 0 3px -3px rgba(0, 0, 0, 0.3)">
            <tr>
              <td>
                <table style="margin-left: auto; margin-right: auto" cellpadding="0" cellspacing="0" role="none">
                  <tr>
                    <td>
                      <img src="https://playsnapcard:5050/public/images/card.png" alt="Card logo" style="margin-left: -2rem; width: 128px" width="128">
                    </td>
                    <td>
                      <h1 style="font-size: 36px">Snapcard</h1>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table role="presentation" cellpadding="0" cellspacing="0" style="padding-top: 40px">
                  <tr>
                    <td>
                      <table role="presentation" cellpadding="0" cellspacing="0">
                        <tr>
                          <td>
                            Hello <%= username %>,
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-top: 20px">
                            You made a<%= ["email", "account"].some((word) => request.toLowerCase().includes(word)) ? "n" : "" %> <%= request %> request.
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-top: 16px">
                            Here is the code you need to enter to complete the process:
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table role="presentation" cellpadding="0" cellspacing="0" style="margin-left: auto; margin-right: auto; border-collapse: collapse">
                  <tr>
                    <td>
                      <p style="margin-left: 8px; margin-right: 8px; width: 24px; border-radius: 0.5rem; background-color: rgb(255, 255, 255); padding: 8px; padding-left: 16px; padding-right: 16px; text-align: center; font-size: 48px; box-shadow: 0 0 #0000, 0 0 #0000, inset 0 4px 8px rgba(0, 0, 0, 0.25)">
                        <span><%= numberOne %></span>
                      </p>
                    </td>
                    <td>
                      <p style="margin-left: 8px; margin-right: 8px; width: 24px; border-radius: 0.5rem; background-color: rgb(255, 255, 255); padding: 8px; padding-left: 16px; padding-right: 16px; text-align: center; font-size: 48px; box-shadow: 0 0 #0000, 0 0 #0000, inset 0 4px 8px rgba(0, 0, 0, 0.25)">
                        <span><%= numberTwo %></span>
                      </p>
                    </td>
                    <td>
                      <p style="margin-left: 8px; margin-right: 8px; width: 24px; border-radius: 0.5rem; background-color: rgb(255, 255, 255); padding: 8px; padding-left: 16px; padding-right: 16px; text-align: center; font-size: 48px; box-shadow: 0 0 #0000, 0 0 #0000, inset 0 4px 8px rgba(0, 0, 0, 0.25)">
                        <span><%= numberThree %></span>
                      </p>
                    </td>
                    <td>
                      <p style="margin-left: 8px; margin-right: 8px; width: 24px; border-radius: 0.5rem; background-color: rgb(255, 255, 255); padding: 8px; padding-left: 16px; padding-right: 16px; text-align: center; font-size: 48px; box-shadow: 0 0 #0000, 0 0 #0000, inset 0 4px 8px rgba(0, 0, 0, 0.25)">
                        <span><%= numberFour %></span>
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table role="presentation" cellpadding="0" cellspacing="0" style="margin-left: auto; margin-right: auto; border-collapse: collapse">
                  <tr>
                    <td>
                      This code is valid for 15 minutes.
                    </td>
                  </tr>
                  <tr>
                    <td style="padding-bottom: 20px; padding-top: 16px">
                      Didn't make any request ? We recommend that you change your password.
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table role="presentation" cellpadding="0" cellspacing="0" style="margin-left: auto; margin-right: auto; margin-top: 40px; border-collapse: collapse">
                  <tr>
                    <td>
                      2025 - Snapcard
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>